<ul class="collection with-header" id="room-infos">
    <li class="collection-header"><h4>{{room.name}}</h4></li>
    <li class="collection-item">ID<span class="secondary-content">{{room.id}}</span></li>
    {{#each room.players}}
        <li class="collection-item" id="{{@index}}">{{this}}</li>
    {{/each}}
</ul>
<a href="#" id="start-room-{{room.id}}" class="btn">Start</a>
<a href="#" id="stop-room-{{room.id}}" class="btn hide">Started</a>
<a href="/room/leave/{{room.id}}" class="btn">Leave</a>
<script>
    const socket = io();
    socket.on('entered room ' + {{room.id}}, function(user){
        M.toast({
            html: user.name + ' entered this Room',
            classes: 'rounded'
        });
        $('#room-infos').append('<li class="collection-item" id="user-'+user.id+'">'+user.name+'</li>');
    });
    socket.on('left room ' + {{room.id}}, function(user){
        M.toast({
            html: user.name + ' left this Room',
            classes: 'rounded'
        });
        $('#user-'+user.id).remove();
    });
    socket.on('start room ' + {{room.id}}, function(roomId){
        $('#stop-room-{{room.id}}').removeClass('hide');
        $('#start-room-{{room.id}}').addClass('hide');
    });
    $('#start-room-{{room.id}}').click(function(){
        socket.emit('start room', {{room.id}});
    });
    socket.on('stop room ' + {{room.id}}, function(roomId){
        $('#start-room-{{room.id}}').removeClass('hide');
        $('#stop-room-{{room.id}}').addClass('hide');
    });
    $('#stop-room-{{room.id}}').click(function(){
        socket.emit('stop room', {{room.id}});
    });

</script>