<ul class="collection with-header" id="room-infos">
    <li class="collection-header"><h4 id="roomname">{{room.name}}</h4></li>
    <li class="collection-item">ID<span class="secondary-content">{{room.id}}</span></li>
</ul>
<a href="#" id="start-room-{{room.id}}" class="btn">Start</a>
<a href="#" id="restart-room-{{room.id}}" class="btn hide">Restart</a>
<a href="/rooms/{{room.id}}/leave" class="btn">Leave</a>
<h6 class="hide" id="turn"><span id="player-turn"></span>'s Turn</h6>
<h3 id="winner" class="hide"><span id="winner-name"></span> HAS WON!!!</h3>
<div class="hide col s12" id="board">
    <table>
        <thead>
            <tr>
            {{#with room.board.[0]}}
                {{#each this}}
                {{this}}
                <th><a href="#" class="move btn" data-position="{{@index}}">V</a></th>
                {{/each}}
            {{/with}}
            </tr>
            {{#each room.board}}
                <tr class="data-row-{{@index}}">
                {{#each this}}
                    <td class="data-pos-{{@index}}">{{this}}</td>
                {{/each}}
                </tr>
            {{/each}}
        </thead>
    </table>
</div>
<script src="/javascripts/room.js"></script>
<script>
    const socket = io();
    init({{room.id}}, {{user.id}});
    socket.on('entered room ' + {{room.id}}, function(user){
        M.toast({
            html: user.name + ' entered this Room',
            classes: 'rounded'
        });
        updateRoom({{room.id}});
    });
    socket.on('left room ' + {{room.id}}, function(user){
        M.toast({
            html: user.name + ' left this Room',
            classes: 'rounded'
        });
        updateRoom({{room.id}});
    });
    socket.on('change room ' + {{room.id}}, function(roomId){
        updateRoom({{room.id}});
    });
    socket.on('user changed', function(user){
        updateRoom({{room.id}});
    });
    socket.on('change board ' + {{room.id}}, function(roomId){
        updateBoard({{room.id}});
    });
    $('#start-room-{{room.id}}').click(function(){
        fetch('/rooms/' + {{room.id}} + '/start').then(
            res => {
                socket.emit('change room', {{room.id}});
            }
        );
    });
    $('#restart-room-{{room.id}}').click(function(){
        fetch('/rooms/' + {{room.id}} + '/restart').then(
                res => {
                    socket.emit('change room', {{room.id}});
                    socket.emit('change board', {{room.id}});
                }
        );
    });

</script>